##Data Types and Structures Questions

##1. What are data structures, and why are they important?
Data structures are ways of organizing and storing data so that they can be accessed and modified efficiently. They are essential because they enable better data management, speed up processing, and help solve problems like searching, sorting, and indexing.

##2. Difference between mutable and immutable data types with examples
Mutable data types can be changed after creation (e.g., list, dict, set).
Immutable data types cannot be changed after creation (e.g., int, float, str, tuple).
##Example:

In [ ]:
x = [1, 2]      # Mutable
x.append(3)     # x becomes [1, 2, 3]

y = "hello"     # Immutable
y[0] = "H"      # ❌ Error: strings are immutable

##3. Main differences between lists and tuples in Python
In Python, both lists and tuples are used to store collections of items, but they differ in several key ways. The most significant difference is that lists are mutable, meaning their contents can be changed after creation — you can add, remove, or modify elements. In contrast, tuples are immutable, which means once a tuple is created, its elements cannot be altered. This makes tuples faster and more memory-efficient than lists, especially when dealing with fixed collections of items.

The syntax also varies slightly: lists are defined using square brackets [], while tuples use parentheses (). For example, a list would look like my_list = [1, 2, 3] and a tuple would be my_tuple = (1, 2, 3). Due to their immutability, tuples are often used to store data that should not be changed, such as the days of the week or coordinates, ensuring data integrity. Lists, on the other hand, are preferred when working with dynamic collections where updates are frequent.

##4. How do dictionaries store data?
Dictionaries store data in key-value pairs using a hash table structure, which allows for fast access using unique keys.

##5. Why might you use a set instead of a list in Python?
Sets are faster for membership checks and automatically remove duplicates, making them ideal when uniqueness is needed.

##6. What is a string in Python, and how is it different from a list?
A string is a sequence of characters (immutable), while a list can contain elements of any type and is mutable. Strings can’t be changed, but lists can.

##7. How do tuples ensure data integrity in Python?
Tuples are immutable, which means their data cannot be changed after creation, ensuring that critical data remains constant.

##8. What is a hash table, and how does it relate to dictionaries in Python?
A hash table stores data using a key-to-index mapping. Python’s dict uses hash tables to store key-value pairs, allowing O(1) access time.

##9. Can lists contain different data types in Python?
Yes, Python lists can store multiple types like int, str, float, or even other lists.

##10. Why are strings immutable in Python?
Strings are immutable for performance and security reasons. Each modification creates a new object, which avoids unexpected behavior.

##11. Advantages of dictionaries over lists
Faster lookup with keys

More readable key-value pairing

Ideal for structured data (e.g., JSON-like)

##12. When to use a tuple over a list
When you want data to remain constant, such as coordinates or configurations that shouldn’t change.

##13. How do sets handle duplicate values?
Sets automatically remove duplicate entries and keep only unique values.

##14. How does the “in” keyword work for lists and dictionaries?
For lists: checks if a value exists.

For dicts: checks if a key exists.

##15. Can you modify elements of a tuple?
No, tuples are immutable, so once created, their elements cannot be changed.

##16. What is a nested dictionary? Example:
A dictionary inside another dictionary.

In [ ]:
student = {
  "name": "Alex",
  "grades": {
    "math": 90,
    "science": 95
  }
}

##17. Time complexity of accessing dictionary elements
Accessing elements in a dictionary is O(1) on average, due to its hash table structure.

##19. Why are dictionaries unordered and how does that affect retrieval?
Until Python 3.6, dictionaries were unordered. Now they preserve insertion order but still rely on hashing, not index-based access.

##20. Difference between list and dictionary (data retrieval)
List: Access using index (my_list[0])

Dictionary: Access using key (my_dict["name"])

 ## Practical Questions

In [4]:
#1.Write a code to create a string with your name and print it
name = "arabinda"
print(name)

arabinda

In [5]:
#2. Write a code to find the length of the string "Hello World"
s = "Hello World"
print(len(s))

11

In [6]:
#3. Write a code to slice the first 3 characters from the string "Python Programming"
s = "Python Programming"
print(s[:3])

Pyt

In [9]:
#4. Write a code to convert the string "hello" to uppercase
print("hello".upper())

HELLO

In [10]:
#5. Write a code to replace the word "apple" with "orange" in the string "I like apple"
text = "I like apple"
print(text.replace("apple", "orange"))

I like orange

In [11]:
#6. Write a code to create a list with numbers 1 to 5 and print it
lst = [1, 2, 3, 4, 5]
print(lst)

[1, 2, 3, 4, 5]

In [12]:
#7.Write a code to append the number 10 to the list [1, 2, 3, 4]
lst = [1, 2, 3, 4]
lst.append(10)
print(lst)

[1, 2, 3, 4, 10]

In [13]:
#8.Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]
lst = [1, 2, 3, 4, 5]
lst.remove(3)
print(lst)

[1, 2, 4, 5]

In [14]:
#9.Write a code to access the second element in the list ['a', 'b', 'c', 'd']
chars = ['a', 'b', 'c', 'd']
print(chars[1])

b

In [15]:
#10.Write a code to reverse the list [10, 20, 30, 40, 50]
lst = [10, 20, 30, 40, 50]
lst.reverse()
print(lst)

[50, 40, 30, 20, 10]

In [1]:
#11. Write a code to create a tuple with the elements 100, 200, 300 and print it.
tpl = (100, 200, 300)
print(tpl)

(100, 200, 300)

In [2]:
#12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow')
colors = ('red', 'green', 'blue', 'yellow')
print(colors[-2])

blue

In [3]:
#13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).
nums = (10, 20, 5, 15)
print(min(nums))

5

In [4]:
#14.Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
animals = ('dog', 'cat', 'rabbit')
print(animals.index("cat"))

1

In [6]:
#15.Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.
fruits = ('apple', 'banana', 'kiwi')
print("kiwi" in fruits)

True

In [8]:
#16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.
s = ('a', 'b', 'c')
print(s)

('a', 'b', 'c')

In [9]:
#17.Write a code to clear all elements from the set {1, 2, 3, 4, 5}.
s = {1, 2, 3, 4, 5}
s.clear()
print(s)

set()

In [10]:
#18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.
s = {1, 2, 3, 4}
s.remove(4)
print(s)

{1, 2, 3}

In [11]:
#19.Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.
a = {1, 2, 3}
b = {3, 4, 5}
print(a.union(b))

{1, 2, 3, 4, 5}

In [12]:
#20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.
a = {1, 2, 3}
b = {2, 3, 4}
print(a.intersection(b))

{2, 3}

In [15]:
#21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.
person = {"name": "Arabinda", "age": 25, "city": "Kolkata"}
print(person)

{'name': 'Arabinda', 'age': 25, 'city': 'Kolkata'}

In [16]:
#22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.
person = {'name': 'Arabinda', 'age': 25}
person["country"] = "India"
print(person)

{'name': 'Arabinda', 'age': 25, 'country': 'India'}

In [17]:
#23.Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.
person = {'name': 'Alice', 'age': 30}
print(person["name"])

Alice

In [18]:
#24.Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.
person = {'name': 'Bob', 'age': 22, 'city': 'New York'}
person.pop("age")
print(person)

{'name': 'Bob', 'city': 'New York'}

In [19]:
#25.Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.
person = {'name': 'Alice', 'city': 'Paris'}
print("city" in person)

True

In [20]:
#26.Write a code to create a list, a tuple, and a dictionary, and print them all.
lst = [1, 2, 3]
tpl = (4, 5, 6)
dct = {"a": 1, "b": 2}
print(lst, tpl, dct)

[1, 2, 3] (4, 5, 6) {'a': 1, 'b': 2}

In [21]:
#27.Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced)
import random
lst = random.sample(range(1, 101), 5)
lst.sort()
print(lst)

[1, 22, 58, 83, 87]

In [22]:
#28.Write a code to create a list with strings and print the element at the third index.
words = ["apple", "banana", "cherry", "date", "fig"]
print(words[3])

date

In [23]:
#29.Write a code to combine two dictionaries into one and print the result.
dict1 = {"a": 1, "b": 2}
dict2 = {"c": 3, "d": 4}
combined = {**dict1, **dict2}
print(combined)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [24]:
#30.Write a code to convert a list of strings into a set.
str_list = ["apple", "banana", "cherry"]
str_set = set(str_list)
print(str_set)

{'cherry', 'apple', 'banana'}